<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %> - <%= page %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>

<!-- Page Content -->
<div class="container">
    <% include include/carousel.ejs %>
    <div class="well">
        <h1>Welcome to <%= title %></h1>
        <h2>Browse and purchase products and register to become a seller!</h2>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            <p>Loading Bootstrap...</p>
            <div class="progress">
                <div class="progress progress-bar-custom active" role="progressbar" aria-valuenow="80"
                     aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>