<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - <%= page %></title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
	function logUserIn(){
		var user = $("#loginUser").val();
		var password = $("#loginPassword").val();
		var stayLoggedIn = $("#loginCheckbox").is(':checked');
		$.post('/account/validate?username=' + user + '&password=' + password + "&stayLoggedIn=" + stayLoggedIn,
				function(data) {
					if (data == "true") {
						window.location.href = "/";
					} else {
						$("#errorMsg").show();
					}
				}
		);
	}
</script>
<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>

<!-- Page Content -->
<div class="container" id="login">
    <h1><%= page %></h1>
	<div class="panel panel-danger" id="errorMsg" hidden="true">
		<div class="panel-heading">Warning</div>
		<div class="panel-body">
			<p>Either the username or the password is incorrect</p>
		</div>
	</div>

	<fieldset class="form-group" align="left">
		<label for="loginUser">Username</label>
		<input type="text" class="form-control" id="loginUser" placeholder="Enter username" name="loginUser" required>
	</fieldset>
	<fieldset class="form-group" align="left">
		<label for="loginPassword">loginPassword</label>
		<input type="password" class="form-control" id="loginPassword" placeholder="Enter password" name="loginPassword" required>
	</fieldset>
	<button type="button" class="btn btn-default btn-lg" onclick="logUserIn();">Log In</button>

	<div class="checkbox">
		<label class="login"><input type="checkbox" id="loginCheckbox" value="">Remember Me</label>
	</div>
	<a href="/register">Don't have an account? Click to sign up!</a>
</div>
</body>
</html>