<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - <%= page %></title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>

<!-- Page Content -->
<div class="container">
	<h1 style="text-align:center;">Order Placed</h1>
	<p style="text-align:center;" ><a href="/">Click here to return to the homepage</a></p>
</div>
</body>
</html>