<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %> - <%= page %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    function registerUser() {
        var ids = ["#regFirstName", "#regLastName", "#regUsername", "#regPassword", "#regConfirm"];
        notFilledIn = false;
        notSamePassword = $(ids[3]).val().localeCompare($(ids[4]).val()) != 0;
        for (i = 0; i < ids.length-1; i++) {
            if ($(ids[i]).val().length == 0) {
                $(ids[i]).css({"background-color": 'LightPink'});
                notFilledIn = true;
            } else
                $(ids[i]).css({"background-color": 'White'});
        }



        if (notFilledIn || notSamePassword) {
            if (notFilledIn){
                $("#errorMsg").show();
            }
            if (notSamePassword){
                $("#passwordMsg").show();
                //$("#regConfirm").css({"background-color": 'LightPink'});
            }
        } else {
            // register new user
            $.post('/account/register?firstname=' + $(ids[0]).val() +
                    '&lastname=' + $(ids[1]).val() +
                    '&username=' + $(ids[2]).val() +
                    '&password=' + $(ids[3]).val(), function(data) {
                if (data == "true") {
                    window.location.href = "/";
                } else {
                    $("#errorMsg").show();

                }
            });
        }
    }

    function startedTyping(id) {
        $(id).css({"background-color": 'White'});
    }
</script>

<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>

<!-- Page Content -->
<div class="container" id="login">
    <h1><%= page %></h1>
    <div class="panel panel-danger" id="errorMsg" hidden="true">
        <div class="panel-heading">Warning</div>
        <div class="panel-body">
            <p>Please fill in the highlighted fields</p>
        </div>
    </div>
    <div class="panel panel-danger" id="passwordMsg" hidden="true">
        <div class="panel-heading">Warning</div>
        <div class="panel-body">
            <p>The confirm password is different from the actual password</p>
        </div>
    </div>

    <fieldset class="form-group" align="left">
        <label for="regFirstName">First name</label>
        <input type="text" class="form-control" id="regFirstName" placeholder="Enter first name" name="regFirstName" required>
    </fieldset>
    <fieldset class="form-group" align="left">
        <label for="regLastName">Last name</label>
        <input type="text" class="form-control" id="regLastName" placeholder="Enter last name" name="regLastName" required>
    </fieldset>
    <fieldset class="form-group" align="left">
        <label for="regUsername">Username</label>
        <input type="text" class="form-control" id="regUsername" placeholder="Enter username" name="regUsername" required>
    </fieldset>
    <fieldset class="form-group" align="left">
        <label for="regPassword">Password</label>
        <input type="password" class="form-control" id="regPassword" placeholder="Enter password" name="regPassword" required>
    </fieldset>
    <fieldset class="form-group" align="left">
        <label for="regConfirm">Confirm password</label>
        <input type="password" class="form-control" id="regConfirm" placeholder="Confirm password" name="regConfirm" required>
    </fieldset>
    <button type="button" class="btn btn-default btn-lg" onclick="registerUser();">Register</button>
</div>

</body>
</html>