<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %> - <%= page %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>

        <% include include/categories.js %>
        window.onload = function () {
            var category1Sel = document.getElementById("category1Sel"),
                    category2Sel = document.getElementById("category2Sel"),
                    category3Sel = document.getElementById("category3Sel");
            for (var cat1 in categories) {
                category1Sel.options[category1Sel.options.length] = new Option(cat1, cat1, cat1);
            }
            category1Sel.onchange = function () {
                category2Sel.length = 1; // remove all options bar first
                category3Sel.length = 1; // remove all options bar first
                if (this.selectedIndex < 1) return; // done
                for (var cat2 in categories[this.value]) {
                    category2Sel.options[category2Sel.options.length] = new Option(cat2, cat2);
                }
            }
            category1Sel.onchange(); // reset in case page is reloaded
            category2Sel.onchange = function () {
                category3Sel.length = 1; // remove all options bar first
                if (this.selectedIndex < 1) return; // done
                var cat3 = categories[category1Sel.value][this.value];
                for (var i = 0; i < cat3.length; i++) {
                    category3Sel.options[category3Sel.options.length] = new Option(cat3[i], cat3[i]);
                }
            }
        }
    </script>

    <!-- Creates the menubar as defined in menubar-src -->
    <% include include/menubar.ejs %>

    <!-- Page Content -->
    <div class="container" id="sellItem">
        <h1><%= page %></h1>

        <div class="panel panel-danger" id="errorMsg" hidden="true">
            <div class="panel-heading">Warning</div>
            <div class="panel-body">
                <p>Please fill in the highlighted fields</p>
            </div>
        </div>

        <form action="/sell/add_item" method="POST" name = "itemForm" enctype="multipart/form-data">
            <!-- Item name -->
            <fieldset class="form-group">
                <label for="itemName">Item Name</label>
                <input type="text" class="form-control" id="itemName" placeholder="Enter item name" name="itemName" onkeypress="startedTyping(itemName)" required>
                <small class="text-muted">e.g. Green T-shirt</small>
            </fieldset>
            <!-- End of item name -->

            <!-- Item Category -->
            <fieldset class="form-group">
                <label for="category">Item Category</label>
                <select id="category1Sel" name="category1Sel" size="1">
                    <option value="" selected="selected">Select a category</option>
                </select>
                <select id="category2Sel" name="category2Sel" size="1">
                    <option value="" selected="selected">Please select a supercategory first</option>
                </select>
                <select id="category3Sel" name="category3Sel" size="1" required>
                    <option value="" selected="selected">Please select a subcategory first</option>
                </select>

            </fieldset>
            <!-- End of item category -->

            <div class="left-pane">
                <!-- Price -->
                <fieldset class="form-group left">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" placeholder="Enter item price" name="price" min="0" onkeypress="startedTyping(price)" onclick="startedTyping(price)" required>
                    <small class="text-muted">e.g. 25.00</small>
                </fieldset>
                <!-- End of price -->

                <!-- Quantity -->
                <fieldset class="form-group left">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" placeholder="Enter item quantity" name="quantity" min="1" step = "1" onkeypress="startedTyping(quantity)" onclick="startedTyping(quantity)" required>
                    <small class="text-muted">e.g. 2</small>
                </fieldset>
                <!-- End of quantity -->

                <!-- Upload image -->
                <fieldset class="form-group left">
                    <label for="image">File input</label>
                    <input type="file" class="form-control-file" id="image" name="image" onclick="startedTyping(image)" required>
                    <small class="text-muted">Image formats can be .jpg or .png</small>
                </fieldset>
                <!-- end of upload image -->
            </div>

            <!-- Item description -->
            <fieldset class="form-group">
                <label for="description">Item Description</label>
                <textarea class="form-control" id="description" rows="5" placeholder="Type your item description here" name="description" onkeypress="startedTyping(description)" required></textarea>
            </fieldset>
            <!-- End of item description -->

            <button type="submit" class="btn btn-default btn-lg submit">Submit listing</button>
        </form>
    </div>
</body>