<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %> - <%= page %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    function submitSellItem() {
        var ids = ["#sellItemName", "#category", "#sellPrice", "#itemDescription", "#sellItemConfirm"];
        foundAnError = false;
        for (i = 0; i < ids.length; i++) {
            if ($(ids[i]).val().length == 0) {
                $(ids[i]).css({"background-color": 'LightPink'});
                foundAnError = true;
            } else
                $(ids[i]).css({"background-color": 'White'});
        }
        if (foundAnError){
            $("#errorMsg").show();
        } else {
            // submit item for sale
            window.location.href = "/";
        }
    }

    function startedTyping(id) {
        $(id).css({"background-color": 'White'});
    }
</script>

<script>
    $(document).ready(function () {
// if user's items for sale = 0
        $("#carousel").hide();


    }
</script>

<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>


<!-- Page Content -->

// carousel of user's listings
// hide if empty?

<div class="container" id = "carousel" hidden="true">

    <% include include/carousel.ejs %>
</div>




<div class="container" id="sellItem">
    <h1><%= page %></h1>
    <div class="panel panel-danger" id="errorMsg" hidden="true">
        <div class="panel-heading">Warning</div>
        <div class="panel-body">
            <p>Please fill in the highlighted fields</p>
        </div>
    </div>

<form action="sellItem" method="POST">
    <div class="row">
    <p align="left">Item name</p>
    <input id="sellItemName" type="text" class="form-control" aria-describedby="sizing-addon1" onkeypress="startedTyping(sellItemName)" name="sellItemName">
</div>
    <div class="row">
    <p align="left">Item Category</p>
    <div class="form-group">

        <div class="col-sm-6 col-md-4">
            <select id="category" class="form-control" name="category">
                <option name="">Select a category</option>
                <option name="clothing">Clothing</option>
                <option name="technology">Technology</option>
                <option name="artsandcrafts">Arts and Crafts</option>
            </select>
        </div>
    </div>

        </div>
    <div class="row">
    <p align="left">Price</p>
    <input id="sellPrice" type="number" min="0" data-bind="value:replyNumber" class="form-control" aria-describedby="sizing-addon1" onkeypress="startedTyping(sellPrice)" name="sellPrice">
</div>

    <div class="row">
	<p align="left">Item description</p>
    <textarea id="itemDescription" rows="3" class="form-control" placeholder="Type your item description here" aria-describedby="sizing-addon1" onkeypress="startedTyping(itemDescription)" name="itemDescription"></textarea>
    </div>

        <div class="row">
    <div class="fileinput fileinput-new" data-provides="fileinput">
        <span class="btn btn-default btn-file"><span>Choose image file</span><input type="file" /></span>
    </div>
        </div>


    <button type="button" class="btn btn-default btn-lg" onclick="submitSellItem();">Submit listing</button>
</div>
</form>
    </div>
