<!DOCTYPE html>
<html>
<head>
    <title><%= title %> - <%= page %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../Scripts/scripts.js"></script>

<!-- Creates the menubar as defined in menubar-src -->
<% include include/menubar.ejs %>


<!-- Page Content -->
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Shopping Cart</h1>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Remove</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 30px;"><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #ff0000; font-size: 20px; position: relative; top: 40%; left: 40%;"></span></a></td>
                    <td style="width: auto;"><a href="#">Spiral Vegetable Cutter</a></td>
                    <td style="width: 30px;"><input type="number" name="quantity" min="1" max="100" value="1" style="width: 100%; text-align:right;"></td>
                    <td style="width: 50px;">$699.99</td>
                </tr>
                <tr>
                    <td style="width: 30px;"><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #ff0000; font-size: 20px; position: relative; top: 40%; left: 40%;"></span></a></td>
                    <td style="width: auto;"><a href="#">Breville BEF460GRY Thermal Pro Frypan Non Stick</a></td>
                    <td style="width: 30px;"><input type="number" name="quantity" min="1" max="100" value="2" style="width: 100%; text-align:right;"></td>
                    <td style="width: 50px;">$439.98</td>
                </tr>
                </tbody>

                <tfoot>
                <td colspan="3"><p style="text-align:right;">Total</p></td>
                <td ><p>$1038.97</p></td>
                </tfoot>
            </table>

            <button class="btn btn-default pull-right">Continue to Checkout</button>
        </div>
    </div>

</div>
</body>
</html>