<div>
    Sort by
        <select>
            <option value="saab">Best Seller</option>
            <option value="mercedes">Worst Seller</option>
            <option value="volvo">Highest Price</option>
            <option value="audi">Lowest Price</option>
            <option value="volvo">Newest</option>
            <option value="audi">Oldest</option>
        </select>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Delete</th>
        <th>Item</th>
        <th>Stock</th>
        <th>Price</th>
        <th>Units Sold</th>
        <th>Money Made</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<myProducts.length; i++) {%>
        <tr>
            <td style="width: 30px;"><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #ff0000; font-size: 20px; position: relative; top: 40%; left: 40%;"></span></a></td>
            <td style="width: auto;"><a href="#"><%= myProducts[i].title %></a></td>
            <td style="width: 30px;"><input type="number" name="quantity" min="1" max="100" value="1" style="width: 100%; text-align:right;"></td>
            <td style="width: 50px;"><%= "$" + myProducts[i].price %></td>
            <td style="width: 50px;">1</td>
            <td style="width: 50px;"><%= "$" + myProducts[i].price %></td>
        </tr>
    <% } %>
    <tfoot>
    <td colspan="5"><p style="text-align:right;">Total</p></td>
    <td ><p>$64.00</p></td>
    </tfoot>
</table>