<table class="table table-bordered">
    <thead>
    <tr>
        <th>Month</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: auto;">May</td>
        <td style="width: 50px;">$699.99</td>
    </tr>
</table>