<div>
    Sort by
    <select>
        <option value="volvo">Most Recent</option>
        <option value="audi">Oldest</option>
        <option value="volvo">Highest Price</option>
        <option value="audi">Lowest Price</option>
    </select>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: auto;"><a href="#">Spiral Vegetable Cutter</a></td>
        <td style="width: 30px;">1</td>
        <td style="width: 50px;">$699.99</td>
    </tr>
</table>