<script>
    $(document).ready(function () {
        var user = getCookie("isLoggedIn");

        if (user != "") {
            $(".loggedInButtons").show();
            $(".loggedOutButtons").hide();
            updateCartCount();
        } else {
            $(".loggedInButtons").hide();
            $(".loggedOutButtons").show();
        }
    });

    // function taken from http://www.w3schools.com/js/js_cookies.asp
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function updateCartCount() {
        $.post('/account/getItemInCartCount',
            function(data) {
                $("#itemsInCart").text(data);
            }
        );
    }

    function logout() {
        $.post('/account/logout');
    }

</script>

<% 

var categories = {
    "Clothing": {
        "Men": ["Shirts", "Hoodies & Sweatshirts", "Jackets & Coats", "Sweaters", "Costumes", "Activewear", "Trousers", "Socks", "Suits & Sport Coats", "Vests", "Jeans", "Shorts", "Underwear", "Swim Trunks", "Pyjamas & Robes", "Ponchos", "Kilts"],
        "Women": ["Tops & Tees", "Dresses", "Lingerie", "Jackets & Coats", "Skirts", "Sweaters", "Hoodies & Sweatshirts", "Swimwear", "Costumes", "Trousers & Capris", "Socks & Hosiery", "Shorts & Skorts", "Pyjamas & Robes", "Activewear", "Leggings", "Jeans", "Ponchos", "Jumpsuits & Rompers", "Blazers", "Suits", "Bodysuits", "Overalls"],
        "Gender diverse": ["Tops & Tees", "Lingerie", "Jackets & Coats", "Skirts", "Sweaters", "Hoodies & Sweatshirts", "Swimwear", "Costumes", "Trousers & Capris", "Shorts & Skorts", "Pyjamas & Robes", "Jeans", "Ponchos", "Jumpsuits & Rompers", "Blazers", "Suits", "Bodysuits", "Overalls"],
        "Children": ["Baby Clothes", "Tops", "Bodysuits", "Trousers", "Costumes", "Clothing Sets", "Sweaters", "Hoodies & Sweatshirts", "Jackets & Coats", "Socks", "Shorts", "Activewear", "Pyjamas & Robes", "Underwear", "Swimwear", "Footies & Rompers", "Suits", "Ponchos", "Vests"]
    },
    "Technology": {
        "Gadgets": ["Binoculars", "Cameras"],
        "Computers": ["Desktops", "Laptops"]
    },
    "Arts and Crafts": {
        "Jewellery": ["Earrings", "Necklaces", "Rings"],
        "Fabric": ["Quilts", "Embroidery", "Crochet"],
        "Craft supplies": ["Knitting", "Bakeware", "Jewellery and beading"]
    }
} %>
<!-- The actual html code -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="../../images/logo.png" style="width:145px;"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse<span class="caret"></span></a>
					<ul class="dropdown-menu">
                    <% for(var cat in categories) {%>
                    <% var catURL = cat.replace(new RegExp(' ', 'g'), '-').toLowerCase();%>
                       <li><a href="/browse/<%= catURL%>/1"><%= cat %></a></li>
                    <% } %>
					</ul>
				</li>
                <li class="loggedInButtons"><a href="/sell">Sell</a></li>
                <li class="loggedInButtons"><a href="/favourites">Favourites</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="/search" method="POST" class="navbar-form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." name="search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </li>
                <!-- Not logged In -->
                <ul id="loggedOutButtons" class="nav navbar-nav navbar-right loggedOutButtons">
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Log in</a></li>
                </ul>
                <!-- Logged In -->
                <ul id="loggedInButtons" class="nav navbar-nav navbar-right loggedInButtons">

                   <!-- <li> <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color: #d5d5d5; font-size: 16px"></span></a></li>
                    <li> <a href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true" style="color: #d5d5d5; font-size: 16px"></span></a></li>-->
                    <li> <a href="/shopping_cart">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color: #d5d5d5; font-size: 16px"></span>
                            <span class="badge" id="itemsInCart">0</span>
                        </a>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Profile<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/account">Account</a></li>
                            <li><a href="/settings">Settings</a></li>
                            <li><a href="/" onclick="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</nav>