<div class="panel-group" id="womens_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#womens_accordion" href="#womens_accessories">Accessories</a>
		</h4>
    </div>
    <div id="womens_accessories" class="panel-collapse collapse in">
		<div class="panel-body">
			<p>HERE ARE SOME FEATURED ACCESSORIES</p>
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#womens_accordion" href="#womens_bags">Bags and Purses</a>
		</h4>
    </div>
    <div id="womens_bags" class="panel-collapse collapse">
		<div class="panel-body">
			<p>HERE ARE SOME FEATURED BAGS AND PURSES</p>
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#womens_accordion" href="#womens_coats">Coats and Jackets</a>
		</h4>
    </div>
    <div id="womens_coats" class="panel-collapse collapse">
      <div class="panel-body">
			<p>HERE ARE SOME FEATURED COATS AND JACKETS</p>
		</div>
    </div>
  </div>
</div>